{{ define "main" }}
    {{ range (.Paginate (where .Site.RegularPages.ByPublishDate.Reverse "Section" "posts")).Pages }}
        <header id="listItem" class="content">
            <div class="postList">
                <time datetime="{{ .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        </header>
    {{ end }}
    <!--
    <div id="menu">
        <li id="newer">
    {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
            Newer
        </a>
    {{ end }}
        </li>
        <li id="older">
    {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="pagination__link pagination__link--next">
            Older
        </a>
    {{ end }}
        </li>
    </div>
    -->
{{ end }}
